//Colors
$accent: #4B51EF;
$main: #000;

//Fonts
$font-main: 'Roboto', sans-serif;

//Media breakpoints
$md1: 1199.98px;
$md2: 1023.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 419.98px;
$md7: 374.98px;